<div class="container">
    <div  class="row">
        <form>
            <div class="form-group">
              <input type="text" class="form-control" value="" placeholder="Search by Title" [(ngModel)]="searchKey" (input)="filterMovies()" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <select class="form-control" [(ngModel)]="category_id" (change)="filterMovies()" [ngModelOptions]="{standalone: true}">
                <option value="All">All Categories</option>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
              </select>
            </div>
          </form>
    </div>




    <div class="row" >
        <div class="col-md-4" *ngFor="let movie of filteredMovies">
            <img src="{{movie.poster}}" class="card-img-top" alt="{{ movie.title }}">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{movie.genre}}
                <div class="d-flex">
                <p class="d-inline-block" style="font-size: 10px;" *ngFor="let rating of movie.ratings">
                    {{rating.source}}:{{rating.value/rating.total*5| number:'1.2-2'}}<br/>
                    <ng-container *ngFor="let star of getStarsArray(rating.value/rating.total*5)">
                        <i [ngClass]="{'fa-star': star == 99, 'fa-star-half-o': star == 0.5, 'fa-star-o': star == 0 }" class="fa"></i>

                    </ng-container>
                </p>
            </div>
        </h6>
              <p class="card-text">{{movie.released}}</p>
                  <p class="stars">
                <span>
                  <a class="star-1" (click)="addRating(movie.id,5)">5</a>
                  <a class="star-2" (click)="addRating(movie.id,4)">4</a>
                  <a class="star-3" (click)="addRating(movie.id,3)">3</a>
                  <a class="star-4" (click)="addRating(movie.id,2)">2</a>
                  <a class="star-5" (click)="addRating(movie.id,1)">1</a>
                </span>
              </p>
              <button class="btn btn-primary">View</button>
            </div>
          </div>
        </div>


</div>
